// PALLETE
$black: #131313;
$black-02: #292424;
$blue: #3628b8;
$fuchsia: #E833A0;
$gray-02: #CBCBCB;
$gray: #7b7777;
$gray-02: #a5989a33;
$green: #528232;
$green-02: #caa406;
$green-03: #e3fad3;
$orange-02: #caa406;
$orange: #e58111;
$orange-02: #ffe9cf;
$pink-02: #ff385933;
$pink: #ff3859;
$purple: #5b22d0;
$purple-03: #7f54d7;
$purple-02: #eee8fb;
$white: #fff;
$yellow-01: #ffee50;
$yellow-02: #d5c607;

// MODE COLORS
$actor-color: $orange;
$actor-color-hover: $orange-02;
$director-color: $green;
$director-color-hover: $green-03;
$impro-color: $purple;
$impro-color-hover: $purple-02;

// GLOBAL COLORS
$action-color: $orange-02;
$action-color-hover: $purple-03;
$disabled-color: #dadada;
$disabled-text: $gray;
$warning-color: $pink;
$input-gray: $gray-02;
$main-color: $pink;
$secondary-color: $yellow-01;
$modal-color: $main-color;
$highlighted-color: $yellow-01;


// SIZE
$size-01: 10px;
$size-02: 20px;
$size-03: 40px;

// FONTS
$main-font: 'Montserrat', sans-serif;
$secondary-font: circular, sans-serif;

// BORDER
$border-radius: 4px;
$border-radius-bottom: 0 0 $border-radius $border-radius;
$border-radius-top: $border-radius $border-radius 0 0;

// WIDTH
$max-width: 700px;

// HEIGTH
$header-height: 60px;