// COLORS
$black: #211227;
$dark-red: #9e0140;
$fuchsia: #dc01b4;
$gold: #a48254;
$pink: #f495e1;
$purple: #776fa9;
$white: #fff;
$gray: #676067;
$red-01: #ee5050;
$red-02: #cf3d3d;
$light-blue: #2d9be5;
$dark-blue: #3579b7;
$main-color: $light-blue;
$secondary-color: $pink;
$error-color: $dark-red;

// FONTS
$main-font: 'Montserrat', sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;
