// PALLETE
$fuchsia-molon: #E833A0;
$pink-molon: #ff3859;
$pink-light: #ff385933;
$blue-molon: #3628b8;
$purple-molon: #9E5AD7;
$blue-molon-02: #0075EB;
$blue-molon-03: #007FD4;
$green-molon: #158f15;
$yellow-molon: #acb328;
$orange-molon: #f2a702;

// COLORS
$black: #131313;
$dark-red: #9e0140;
$fuchsia: #dc01b4;
$gold: #a48254;
$pink: #f495e1;
$purple: #776fa9;
$white: #fff;
$gray: #676067;
$gray-02: #b3b0b3;
$red-01: #ee5050;
$red-02: #cf3d3d;
$red-03: #ab5d5d;
$light-blue: #2d9be5;
$dark-blue: #3579b7;
$main-color: $pink-molon;
$secondary-color: $blue-molon;
$action-color: #caa406;
$error-color: #d80c0c;
$size-01: 10px;
$size-02: 10px;
$modal-color: $main-color;
$disabled-color: $pink-light;
$disabled-text: #7b7777;

// ea039d

// FONTS
$main-font: 'Montserrat', sans-serif;
$secondary-font: circular, sans-serif;

// BORDER
$border-radius: 8px;

// PADDINGS AND MARGIN
$padding-01: $size-01;
$padding-02: $size-02;
$margin-01: $size-01;
$margin-02: $size-02;

// WIDTH
$max-width: 80%;

// HEIGTH
$header-height: 80px;